.hero {
  display: flex;
  align-items: center;
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  .hero__banner {
    object-position: 0 -50px;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
    object-fit: cover;
    width: 100%;
  }
}

@media (min-width: 920px) {
  .hero {
    height: 100%;
    background-position: 0% 33%;
    .hero__banner {
      height: 400px;
      object-position: 0% 33%;
    }
  }
}
