.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
  label {
    font-weight: bold;
  }
  input {
    padding: 5px;
  }
}

.input-remember {
  display: flex;
  label {
    margin-left: 0.25rem;
  }
}

.sign-in {
  padding: 5px 10px;
  margin: 10px;
}
